#logo {
    display: block;
    margin: auto;
    padding-top: 150px;
}
#search-bar {
    text-align: center;
    width: auto;
    
}

input {
    border-radius: 10px;
    margin-bottom: 5px;
    height: 20px;
    width: 80%;  
    max-width: 700px;  
}
input:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), -1px -1px 3px rgba(0, 0, 0, 0.3);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
    
}
#left-menue {
    position: relative;
    float:left;
    padding-left: 10px;
}
#right-menue {
    position: relative;
    float: right;
    padding-right: 10px;
}
a {
    color: black;
    text-decoration: none;
    font-size: small;
    padding-left: 5px;
    padding-right: 5px;
}
a:hover {
    text-decoration: underline;
}

#button-text:hover {
    text-decoration: none;
}
button:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), -1px -1px 3px rgba(0, 0, 0, 0.3);
}

#sign-in {
    background-color: blue;
    color: white;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    background-color: rgba(235, 236, 237);
}